<!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 -->
{{#if subfieldEnabled}}
  <div class="column-mainfield col-xs-8">
    {{partial "partials/power-select-column"}}
  </div>
  <div class="column-subfield col-xs-4">
    <label>Subfield</label>
    {{input type="text" value=subfield placeholder="Optional" classNames="form-control" focus-out=(action "handleFocusOut") disabled=disabled}}
  </div>
{{else}}
  <div class="column-onlyfield col-xs-12">
    {{partial "partials/power-select-column"}}
  </div>
{{/if}}
