<a tabindex="0" class="glyphicon glyphicon-info-sign info-popover-link" role="button">
  <div class="popover-title hidden">
    {{title}}
  </div>
  <div class="popover-contents hidden">
    {{yield}}
  </div>
</a>
