<label for="{{concat elementId "-" fieldName}}">{{fieldName}}</label>
{{input type=type class="form-control" disabled=disabled 
        value=fieldValue placeholder=placeholder maxlength=maxlength
        id=(concat elementId "-" fieldName)}}