{{!--
  Copyright 2018, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<div class="row killed">
  <div class="text-center col-md-12">
    <div class="image killed-image">
      <img src="/assets/images/killed.png" alt="Query was killed!">
    </div>
    <h2>You exceeded the rate limit for your query!</h2>
    <h4>Your query returned too much data too fast and was killed. Find more information in the metadata above.</h4>
    <div class="steps">
      <h4>Try these:</h4>
      <ol>
        <li>
          <p>Add more filters to your query</p>
        </li>
        <li>
          <p>Add a Time Based window to your query instead</p>
        </li>
      </ol>
    </div>
  </div>
</div>
