{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<div class="filter-summary-text">
  <strong>Filters: </strong> {{query.filterSummary}}
</div>
<div class="fields-summary-text">
  <strong>Fields: </strong> {{query.fieldsSummary}}
</div>
