{{!--
  Copyright 2017, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<div class="link-wrapper">
  {{input id=queryID value=queryLink type="text" readonly=true maxlength=16384}}
  {{#if (is-clipboard-supported)}}
    {{#copy-button clipboardTarget=queryIDSelector}}
      <i class="glyphicon glyphicon-copy">
        {{#tooltip-on-element}}Copy to your clipboard{{/tooltip-on-element}}
      </i>
    {{/copy-button}}
  {{/if}}
</div>
<i class="collapse-icon glyphicon glyphicon-menu-up" {{action "collapse"}}></i>
