{{!--
  Copyright 2017, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<div class="link-wrapper">
  {{input id=queryID value=queryLink type="text" readonly=true maxlength=16384}}
  {{#if (is-clipboard-supported)}}
    {{#copy-button clipboardTarget=queryIDSelector}}
        {{fa-icon "clipboard" class="copy-icon"}}
        {{#ember-tooltip}}Copy to your clipboard{{/ember-tooltip}}
    {{/copy-button}}
  {{/if}}
</div>
{{fa-icon "chevron-up" class="collapse-icon" click=(action "collapse")}}
