{{!--
  Copyright 2017, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}

 {{mode-toggle isToggled=isToggled toggledText="Collapsible" notToggledText="Raw" onToggled=(action (mut isToggled))}}

 <div class="raw-display">
   {{#if isToggled}}
     {{pretty-json data=data defaultLevels=numberOflevels}}
   {{else}}
     <pre>{{formattedData}}</pre>
   {{/if}}
 </div>
