{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
 {{#if canModeSwitch}}
    <div class="pivot-control">
      <span>Pivot</span>
     {{mode-toggle isToggled=notSimpleMode onToggled=(action (mut notSimpleMode))}}
     {{#tooltip-on-element side="left"}}Slice, dice and visualize your data in Pivot mode{{/tooltip-on-element}}
   </div>
 {{/if}}
 <div class="visual-container">
   {{#if pivotMode}}
     {{pivot-table rows=rows columns=columns initialOptions=pivotOptions onRefresh=(action "saveOptions")}}
   {{else}}
     {{ember-chart type=chartType animate=true data=data options=options}}
   {{/if}}
 </div>
