<a href="" tabindex="0" class="fa fa-exclamation-circle error-tooltip-link" role="button">
  <EmberTooltip @side={{@tooltipPosition}}>
    {{#each @errors.validation as |validation| }}
      <p>{{validation}}</p>
    {{/each}}
  </EmberTooltip>
</a>
