{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
{{#if expanded}}
  <PrettyJson @data={{metadata}} @defaultLevels={{4}} />
{{/if}}
<div class="expand-bar" onclick={{action "toggleExpanded" bubbles=false}}>
  <i class="{{expansionIconClasses}}"></i>
</div>
