.output-data-input {
  $box-rectangle-color: #F6F6F6;
  $border-rectangle-color: #DCDEE2;

  @import "info-popover";
  padding-top: 5px;
  padding-left: 10px;
  max-width: 1000px;

  .ember-radio-button {
    display: block;
    max-width: 400px;
    margin-bottom: 10px;
    font-size: $font-size-regular-small;
    font-family: $font-family-regular;
    font-weight: $font-weight-regular;
    input {
      margin-right: 10px;
    }
  }

  .inline-radio-buttons {
    .ember-radio-button {
      display: inline-block;
      margin-right: 30px;
    }
  }

  .output-options {
    display: flex;
    justify-content: space-between;
    .ember-radio-button {
      font-size: $font-size-regular;
    }
  }

  .output-data-outlet {
    @import "validated-input";
    margin-left: $output-option-indentation;
    margin-bottom: 20px;
    max-width: 1200px;

    .help {
      float: right;
      font-size: $font-size-regular-small;
      font-family: $font-family-regular;
      font-weight: $font-weight-regular;
    }

    .info-popover-wrapper {
      display: inline;

    }
    .fields-selection-container {
      @import "validated-field-selection";

      .add-button {
        @extend %add-button;
        margin-bottom: 10px;
        i {
          padding-right: 5px;
        }
        &.add-group, &.add-metric {
          width: 120px;
        }
      }

      &.metrics-container .metrics-selection {
        @import "power-select-inputs";
      }
    }


    .subsection-header {
      margin-top: 5px;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-weight: $font-weight-medium;
    }

    .narrow-row {
      margin-top: 5px;
    }
  }
}
