.output-data-input {
  $box-rectangle-color: #F6F6F6;
  $border-rectangle-color: #DCDEE2;

  .output-option {

    margin-left: $output-option-indentation;

    .fields-selection-container {
      @import "validated-field-selection";

      .add-button {
        @extend %add-button;
        margin-bottom: 10px;
        i {
          padding-right: 5px;
        }
        &.add-group, &.add-metric {
          width: 120px;
        }
      }

      &.metrics-container .metrics-selection {
        @import "power-select-inputs";
      }
    }

    .output-nested-container {
      margin-left: $output-option-indentation;
      margin-bottom: 20px;
    }

    .subsection-header {
      margin-top: 5px;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-weight: $font-weight-medium;
    }

    .narrow-row {
      margin-top: 5px;
    }

    .raw-sub-options .fields-selection-container {
      margin-left: $output-option-indentation;
    }

    &.count-distinct-option, &.distribution-option {
      .field-selection-container.row {
        margin-top: 0;
        width: 500px;
      }
    }

    .groups-container, .metrics-container {
      display: inline-block;
      padding: 0 10px 0 $output-option-indentation;
      margin-bottom: 15px;
      clear: left;
    }

    &.distribution-option {
      .distribution-sub-options .ember-radio-button {
        display: inline-block;
        margin-right: 10px;
      }
      .distribution-point-options {
        margin-top: 15px;
      }
    }
  }

  .ember-radio-button {
    display: block;
    max-width: 400px;
    margin-bottom: 10px;
    font-size: $font-size-regular-small;
    font-family: $font-family-regular;
    font-weight: $font-weight-regular;
    input {
      margin-right: 10px;
    }
  }
}
