.window-input {
  margin-top: 5px;
  margin-bottom: 15px;
  max-width: 800px;

  .no-window-section {
    .add-button {
      @extend %add-button;
      margin-top: 15px;
      i {
        padding-right: 5px;
      }
    }
    margin-bottom: 30px;
  }

  .window-section {
    display: flex;
    flex-flow: column nowrap;
    padding: 15px;
    background-color: $box-rectangle-color;

    .subsection-header {
      @extend %subsection-header;
    }

    .delete-button {
      @extend %remove-button;
      min-height: 20px;
      align-self: flex-end;
    }

    .radio-button {
      @extend %radio-button;
      display: inline-block;
      margin-right: 30px;
    }

    .row {
      @extend %validated-input-row;
    }

  }

}
