.window-input {
  .add-button {
    @extend %add-button;
    margin-bottom: 10px;
    i {
      padding-right: 5px;
    }
  }

  .remove-button {
    @extend %remove-button;
  }

  @import "info-popover";
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
  max-width: 800px;
  background-color: $box-rectangle-color;
  position: relative;

  .ember-radio-button {
    @extend %ember-radio-button;
    display: inline-block;
    margin-right: 30px;
  }

  .subsection-header {
    @extend %subsection-header;
  }

  .row {
    @extend %validated-input-row;
    .validated-input {
      .labeled-input {
        padding-right: 0;
        width: 150px;
        margin-left: -5px;
        margin-right: 0;
      }
    }
  }
}
