{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<p>
  You can use this to perform a Count of distinct values for a set of fields. For each distinct combination of values for the fields you select in this option, a count will be incremented. You <strong>must</strong> select fields. Currently, we do not support peforming count distincts for grouped data.
</p>
<p>
  You can use the display name field to give an optional name to the result field that will contain the count of the distincts for your chosen fields.
</p>
<h5 class="content-header">Constraints</h5>
<p>
  Count Distinct is exact up to <strong>{{@settings.defaultValues.sketches.countDistinctMaxEntries}}</strong> unique entries. The value of Count Distinct is approximate after this threshold, with a <strong>bounded maximum error</strong>. For example, for k = 16,384, the error is at most 2.34% at 99.73% confidence. In other words, if your count distinct value was 2,000,000, the real value was somewhere between 1,953,200 and 2,046,800 at 99.73% confidence. The error bounds for other values of k can be seen <a href="https://datasketches.apache.org/docs/Theta/ThetaErrorTable.html">here</a>.
</p>
