<!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 -->
<div class="no-queries text-center">
  <div class="empty-image">
    <img src="assets/images/no-queries.png">
  </div>
  <h2>Let's build something!</h2>
  <p>Get started by running a query using the blue button above.</p>
</div>