<div class="no-queries text-center">
  <div class="empty-image">
    <img src="assets/images/no-queries.png">
  </div>
  <h2>Let's build something!</h2>
  <p>Get started by running a query using the blue button above.</p>
</div>