<p class="plain-entry">{{textValue}}</p>
{{#if isActive}}
  <div class="record-popover-title hidden">
    <span class="record-label">{{column.label}}</span>
  </div>
  <div class="record-popover-body hidden">
    <button class="btn btn-xs close-button" aria-label="Close" {{action "closePopover"}}>
      <span class="glyphicon glyphicon-remove"></span>
    </button>
    <pre>{{formattedValue}}</pre>
  </div>
{{/if}}