<span class="schema-name">
  {{extractedValue}}
</span>
{{#if row.hasEnumerations}}
  <span class="schema-enumeration-caret">
    {{#if row.expanded}}
      <i class="expanded-caret glyphicon glyphicon-menu-down"></i>
    {{else}}
      <i class="expand-caret glyphicon glyphicon-menu-right"></i>
    {{/if}}
  </span>
{{/if}}
