{{!--
  Copyright 2020, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<div class="query-type-entry">
  {{#if @value}}
    <i class="fa fa-code"/>
  {{else }}
    <i class="fa fa-sliders"/>
  {{/if}}
</div>
