{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<div class="help-container modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="generic-help-modal">
  <div class="large-dialog modal-dialog modal-lg" role="document">
    <div class="help-content modal-content">
      <div class="help-header modal-header">
        <button class="btn btn-xs close-button" data-dismiss="modal" aria-label="Close">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
        <h4 class="help-heading">Bullet: Querying Streaming Data </h4>
      </div>
      <div class="help-body modal-body">
        <p>
          Bullet is a tool that can extract and inspect records as they flow through a streaming pipeline. Unlike most other
          reporting tools, Bullet is not querying historical data but rather eavesdropping on newly generated records occurring
          <strong>after</strong> you submit your query. Once the query is submitted, it runs until it either finds the requested
          number of records (Max Records), or completes the max time window (Query Duration).
        </p>
        <p>
          A common usage pattern of Bullet is:
          <ol>
            <li>Add a filter in Bullet that indicates your user or browser, and click Run Query</li>
            <li>Load and use the application generating the records in a different tab</li>
            <li>Move back to the Bullet tab and inspect your records</li>
          </ol>
        </p>
        <p>
          Bullet supports extracting individual columns (including complex maps and list of maps) or performing aggregations on your data. The query filters can contain arbitrary nesting with AND or OR relationship, as well as a wide set of relational operators. The output can be displayed either as a table or as a nested JSON.
        </p>
      </div>
    </div>
  </div>
</div>