{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<div class="row bummer">
  <div class="text-center col-md-12">
    <div class="image bummer-image">
      <img src="/assets/images/bummer.png">
    </div>
    <h2>Bummer! No records matched your filters for this window.</h2>
    <h3>Bullet eavesdrops on newly generated records occurring after you submit your query.</h3>
    <div class="steps">
      <h4>Give this a try:</h4>
      <ol>
        <li>
          <p>Add filters in Bullet indicating your records. Click 'Run Query'</p>
        </li>
        <li>
          <p>Make sure you generate data that match your query (in a different tab for example) after the query is running</p>
        </li>
        <li>
          <p>Move back to the Bullet tab and inspect your records</p>
        </li>
      </ol>
    </div>
  </div>
</div>
