{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<p>
  Bullet needs to be told upfront how long it should look for records matching the filter criteria. If you are getting Raw Data, you can also select a maximum number of records to find (Maximum Result Count). If Bullet happens to find a sufficient number of records before the time window is completed (Maximum Duration), it will finish early and return the found records. In other words, Bullet will run until at least one of the two criteria succeeds. In case, you are aggregating data, Bullet has to wait till your duration is up before returning the data to you because more data that changes the result of an existing group may still arrive even if your max result count number of groups has been reached. So, it does not let you select a Maximum Result Count. It defaults the value to the maximum configured by the maintainer of this
  instance.
</p>

<h5 class="content-header">Maximum Result Count</h5>
<p>
  The max number of results (records) returned for the Raw query by Bullet. By default, it needs to be an integer between <strong>1 and {{settings.defaultValues.rawMaxSize}}</strong>.
</p>

<h5 class="content-header">Maximum Duration</h5>
<p>
  The max time Bullet will look for records matching the filter criteria. Must be a number between 1 and <strong>{{settings.defaultValues.maxDurationSecs}}</strong> seconds (default). Note that this is a not a guarantee that the results will arrive in this time, only that this is the window for gathering results. Typically, the results take a few seconds (<strong>~{{settings.defaultValues.queryTimeoutSecs}} s</strong>) after the duration to be returned.
</p>
