{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<p>
  Bullet needs to be told upfront how long it should look for records matching the filter criteria. If it happens to find a sufficient number of records (Maximum Record Count) before the time window completed (Maximum Duration), it will finish early and return the found records. In other words, Bullet will run until at least one of the two criteria succeeds.
</p>

<h5 class="content-header">Maximum Record Count</h5>
<p>
  The max number of records returned by Bullet back end. Needs to be a integer between 1 and 500 (default).
</p>

<h5 class="content-header">Maximum Duration</h5>
<p>
  The max time Bullet will look for records matching the filter criteria. Must be a number between 5 and 120 seconds (default). Bullet will round the user entered number up to the closest multiple of 5 seconds (default), so 1s &rarr; 5s, 12s &rarr; 15s.
</p>
