<label class="power-select-label">Field</label>
{{#power-select disabled=disabled selected=selectedColumn options=columns searchField="id" onchange=(action "handleSelect") as |column|}}
  {{column.id}}
{{/power-select}}