<!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 -->
<h5 class="content-header">Show All Columns</h5>
<p>
  If selected, all non-null data columns are displayed in the output. If “Show All Columns” are selected, the Result Page will be shown as the raw JSON view by default.
</p>
<h5 class="content-header">Select Columns</h5>
<p>
  If selected, only the selected columns are displayed in the output. The user can optionally re-name each column, which can be useful if many columns are extracted and viewing the data in a tabular mode.  If All Columns are selected, the Result Page will be shown as the table view by default.
</p>
<h5 class="content-header">Count Records</h5>
<p>
  If selected, Bullet counts the number of records found while the query ran. If a Maximum Record Count was set to 20, then the output "count" will be a number between 0 and 20.
</p>
