<!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 -->
<p>The All Queries page contains a list of all the queries previously saved or run on the specific browser (so saved queries cannot be shared between users or browser).</p>

<p>From this page, you can:</p>
<ul>
  <li>Create a new query by clicking the New Query button.</li>
  <li>Edit a saved or previously executed query by clicking on the name or description of the query. Note that Bullet only saves the most recent version of the query.</li>
  <li>Delete a query by clicking the trash icon that appears when you hover over a row in the table.</li>
  <li>
    <p>See the results from a previous run query, by clicking on either:</p>
    <ul>
      <li>Last Results column, or</li>
      <li>Historical Results column and selecting the timestamp of the desired run.</li>
    </ul>
  </li>
  <li>Delete results only without deleting the query by clicking Historical Results and then Clear History.</li>
</ul>






