<!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 -->
<p>
  Once Bullet has finished running the query, all the matched records are returned to the browser. The results can be displayed either as raw JSON format or formatted in a tabular view. Toggle between the views by clicking Show Raw Data View or Show Table View icons.
</p>

<h5 class="content-header">Saving and Sharing</h5>
<p>
  The output can be saved locally as JSON, CSV, or a flattened CSV (where any map fields and lists are exploded till the base elements)
</p>
<p>
  It is not possible to natively share query or result URLs from Bullet since all queries and results are stored on the local browser only.
</p>

<h5 class="content-header">Raw JSON View</h5>
If the user selected “Show All Fields” on the “Edit Query” page, or clicked on Show Raw Data View toggle at the top right of the page, the data is displayed in a raw JSON format.

<h5 class="content-header">Table View</h5>
<p>
  If the user selected “Select Fields” on the “Edit Query” page, or clicked on (H) toggle at the top right of the page, the data is displayed in a table format. If a table cell is clicked on a popup window appears with a JSON representation of the cell data. This is particularly useful for long strings, maps, and list-of-maps (a.k.a. bags)
</p>

<p>
  Columns width can be adjusted by dragging the vertical column divider at the top of the table.
</p>
