{{!--
  Copyright 2018, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<p>
  The results can be displayed either as raw JSON format, formatted in a tabular view, displayed as a chart or pivoted on. Toggle between the views by clicking <strong>Show Raw Data</strong> or <strong>Show as Table</strong> or <strong>Show as Chart</strong> icons.
</p>

<h5 class="content-header">Saving and Sharing</h5>
<p>The output can be saved locally as JSON, CSV, or a flattened CSV (where any map fields and lists are exploded till the base elements)</p>
<p>It is not possible to natively share query or result URLs from Bullet since all queries and results are stored on the local browser only.</p>

<h6 class="content-subheader">Simple Chart</h6>
<p>
  For all queries besides Raw Data queries with <strong>Select all Fields</strong>, Bullet will try to find your independent fields by finding the string fields in your result and your dependent fields by using the numeric fields in this view.
  If there are multiple independent fields, Bullet will separate them using a <strong>&#47;</strong> in the chart. The chart is a <strong>Bar</strong> chart.
</p>
