<!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 -->
<nav class="top-bar navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-logo">
        {{#link-to "index"}}
          <img src="assets/images/logo.png" class="logo pull-left" alt="Bullet">
        {{/link-to}}
        <div class="brand-version">beta</div>
      </div>
    </div>
    <ul class="right-panel nav navbar-nav navbar-right">

      <li class="help-dropdown dropdown hidden-xs">
        <a href="#" class="help-button dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="glyphicon glyphicon-question-sign"></i>
          <span>Help</span>
        </a>

        <ul class="dropdown-menu">
          <li>
            <a href="#help" class="help-link" data-toggle="modal" data-target="#help-modal">Basic Usage</a>
          </li>
          {{#each settings.helpLinks as |helpLink|}}
            <li>
              <a href="{{helpLink.link}}" class="help-link">{{helpLink.name}}</a>
            </li>
          {{/each}}
        </ul>
      </li>

    </ul>
  </div>
</nav>

{{partial "partials/help-modal"}}