<a tabindex="0" class="fa fa-exclamation-circle error-tooltip-link" role="button">
  {{#tooltip-on-element side=tooltipPosition}}
    {{v-get model valuePath "message"}}
  {{/tooltip-on-element}}
</a>
