{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<p>This section lets you choose how your results should look. You can perform various aggregations or get the raw data directly.</p>

<p><strong>Raw Data</strong> lets you get raw records directly from your data. You can select all fields or a subset. </p>
<p><strong>Group Data</strong> lets you group data by a set of fields and perform metrics like SUM, COUNT, MIN, MAX and AVG per group on fields. You can also not add metrics to get a DISTINCT of your group fields and not add groups to get metrics across your data. </p>
<p><strong>Count Distinct</strong> lets you perform a distinct count of values in a set of fields.</p>
<p><strong>Distribution</strong> lets you get numeric distributions of a field. You can get quantile values, a frequency count or a cumulative frequency count. You define points that are used to break up the range of values for your field into intervals (Frequency and Cumulative Frequency) or used to find percentiles at those points (Quantile).</p>
<p><strong>Top K</strong> lets you get the most common values for a set of fields and the counts of how many times they were seen. </p>

<h5 class="content-header">Approximate Results</h5>
<p>
  Note that due to the streaming nature of the data, certain aggregations are <strong>approximate</strong>. We use <a href="http://datasketches.apache.org">Sketches</a> to perform aggregations like Count Distinct, Distribution, Top K. While these give out approximate results, the accuracy and the
  errors are reported in the Result Metadata section in the Results Page. Please note that the values are <strong>exact</strong> up to a configured threshold, which changes per aggregation. Please see each individual aggregation help for more details.

  These limits arise partly from the streaming nature of the data and computational intractability of keeping track of arbitrary numbers of unique values and partly from having to prevent users from overloading the system due to improperly created queries.
</p>
