{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<div class="missing text-center">
  <div class="missing-image">
    <img src="/assets/images/lost.png" alt="Page not found">
  </div>
  <h2>Doh! Looks like you're lost...</h2>
  <p>Request resource not found.</p>
  <p>BTW - It is not possible to directly share queries or results between</p>
  <p>users because they are stored in the browser itself. You can share queries</p>
  <p>from the queries page by generating a unique link for it by mousing over the row in the table</p>
</div>
