{{!--
  Copyright 2016, Yahoo Inc.
  Licensed under the terms of the Apache License, Version 2.0.
  See the LICENSE file associated with the project for terms.
 --}}
<div class="results-container">
  <div class="section query-section">
    <p class="query-title">
      {{if model.query.name model.query.name "New Untitled Query"}}
    </p>
    <div class="information-container query-information">
      {{query-information query=model.query querySnapshot=model.querySnapshot
                          reRunClick=(route-action "reRunClick" model.query)
                          cancelClick=(route-action "cancelClick")
                          queryClick=(route-action "queryClick" model.query)}}
    </div>
  </div>

  <div class="section result-section">
    <div class="section-header">
      <h3 class="section-title result-title">Results</h3>
      {{#info-popover title="Results"}}
        {{partial "partials/results-help"}}
      {{/info-popover}}
    </div>
    <div class="result-viewer-container">
      {{result-viewer result=model query=model.query}}
    </div>
  </div>
</div>
