<div class="schema-wrapper">
  <span class="section-header">
    <h3 class="section-title">Schema</h3>
    {{#info-popover title="Schema"}}
      {{partial "partials/schema-help"}}
    {{/info-popover}}
  </span>
  {{schema-table fields=model}}
</div>